<div class="flex-align-start" id="new-room">
    <div class="side-menu">
        <p class="active">基本情報</p>
    </div>
    <div id="rooom-information-registration">
        <%= form_with model: @room, local: true, multipart: true do |f| %>
            <p>ルーム情報登録</p>
            <%= render 'shared/error_messages', object: f.object %>
            <div class="update-content">
                <div class="room-new-label">
                    <%= f.label :name, "ルーム名" %><span>必須</span>
                </div>
                <%= f.text_field :name, placeholder: "ルーム名を入力" %><br>
            </div>
            <div class="update-content">
                <div class="room-new-label">
                    <%= f.label :introduction, "ルーム紹介" %><span>必須</span>
                </div>
                <%= f.text_area :introduction, placeholder: "ルーム説明を入力" %><br>
            </div>
            <div class="update-content">
                <div class="room-new-label">
                    <%= f.label :fee, "料金" %><span>必須</span>
                </div>
                <%= f.number_field :fee, placeholder: "１日あたりの料金を入力" %><br>
            </div>
            <div class="update-content">
                <div class="room-new-label">
                    <%= f.label :address, "住所" %><span>必須</span>
                </div>
                <%= f.text_field :address, placeholder: "住所を入力" %><br>
            </div>
            <div class="update-content">
                <div class="room-new-label">
                    <%= f.label :image, "ルーム画像" %><span>必須</span>
                </div>
                <%= f.file_field :image %><br>
            </div>
            <div class="update-content">    
                <%= f.submit "登録" %>
            </div>
        <% end %>
    </div>
</div>
