<header>
    <div class="flex">
        <div class="flex">
            <div id="header-logo">
                <%= link_to root_path do %>
                    <%= image_tag 'logo.png' %>
                <% end %>
            </div>
            <div class="flex">
                <div class="header-search-field">
                    <input type="text" placeholder="エリア">
                    <i class="fas fa-map-marker-alt"></i>
                </div>
                <div class="header-search-field">
                    <input type="text" placeholder="キーワード">
                    <i class="fas fa-search"></i>
                </div>
            </div>
        </div>
        <div id="header-nav-right">
            <% if logged_in? %>
                <div class="flex">
                    <p id="current-user-name"><%= current_user.name %></p>
                    <div>
                        <%= image_tag current_user.image, id: "current-user-image" %>
                    </div>
                </div>
            <% else %>
                <%= link_to "ログイン", '/users/sign_in', id: "login-btn" %>
                <%= link_to "登録する", '/users/sign_up', id: "register-btn" %>
            <% end %>    
        </div>
    </div>
</header>
<div class="current-user-menu">
    <p><%= link_to "ルーム登録", new_room_path %></p>
    <p>予約済みルーム一覧</p>
    <p>登録済みルーム一覧</p>
    <p>設定</p>
    <p><%= link_to "ログアウト", '/sign_out', method: :delete %></p>
</div>

<script type="text/javascript">
    $(function() {
        $("#current-user-image").click(function() {
            $(".current-user-menu").toggleClass("display")
        })
    });
</script>